@using Infrastructure.Entities
@model IEnumerable<CourseEntity>

@{
    ViewData["Title"] = "Home";
}

<a asp-action="Create" asp-controller="Courses">New course</a>
<br />
<hr />
<br />
@foreach (var course in Model)
{
    <div class="course">
        <img src="@Url.Content($"~{course.ImagePath}")" alt="Image for @course.Title"/>
        <p id="course-isbestseller">@course.IsBestSeller</p>
        <h5>@course.Title</h5>
        <p id="course-author">@course.Author</p>
        <p id="course-price"></p>
        <br />
        <p id="course-hours">@course.Hours</p>
        <p id="course-likesinnumbers">@course.LikesInNumbers</p>
        <p id="course-likesinpercent">@course.LikesInPercent</p>
    </div>
    
}